<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{fragments :: head}">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<header th:replace="~{fragments :: header}"></header>
<table class="table">
    <thead>
    <tr>
        <th sec:authorize="hasRole('ADMIN')" >ID</th>
        <th>Name</th>
        <th>Pizza List</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="chef : ${chefs}">
        <td sec:authorize="hasRole('ADMIN')" th:text="${chef.id}"></td>
        <td th:text="${chef.name}"></td>
        <td>
            <div th:if="${chef.pizzas != null and !chef.pizzas.isEmpty()}">
                <ul>
                    <li th:each="pizza : ${chef.pizzas}" th:text="${pizza.name}"></li>
                </ul>
            </div>
            <div th:if="${chef.pizzas == null or chef.pizzas.isEmpty()}">No Pizzas</div>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
